@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-image: url('/img/body/background.gif');
    background-size: 100%;
    
}

h1 {
    font-size: 40px;
    
}

html,body,section {
    height: 100%;
    display: block;
}


main { 
   position: relative;
   min-height: 69vh;
}





footer {

    position: absolute;
        display: block;
    right: 0;
    left: 0;
    bottom: auto;

}
