.containerHome {

    margin-left: 3em;
    margin-top: 5em;   
    overflow: hidden;
}

.containerCarousel {

    width: auto;
    max-width: 900px;
    min-width: 400px;
    min-height: 30vh;
    max-height: 30vh;
    height: auto;


}

.containerCarouselMain {

    display: flex;
    justify-content: center;

}

.imgHome {
    width: 7%;
    height: 3vh;
    display: inline;
    margin-bottom: 2px;
  
}

.imgCharacterHome {

    border-right: 2px solid rgb(231, 138, 231);
    border-radius: 30px !important;
    height: 30vh;
    width: 900px;
}



.linkStyles{

        transition: 1s;

}

.linkStyles:hover {

   opacity: 0.7;

}

.cardContainerHome {

    height: auto;
    width: auto;
    margin-bottom: 2em;
   

}

.titleCard {
    font-weight: 900;
    text-shadow: 3px 3px 5px black;

}

.cardBody {



}

.pHome {

    display: inline;
    font-size: auto;
    margin-left: 0.2em; 
    font-weight: 900;
 
    text-shadow: 3px 3px 5px black;
}

.pHome2 {

    display: inline;
    margin-left: 1em; 
 
   
    font-weight: 900;

}

.authorSpecsHome {

  

}

.iconHome {

    color: black;
    top: 2px;
    color: rgb(245, 126, 245);
    font-weight: 400;
    font-size: 55%;
    position: absolute;
    top: 87.5%;
    left:52%;
    
}

.spanCardBody {

    font-size:55%;    
    position: absolute;
    top: 87%;
    left:58%;
}



/* carousel */

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}

.div1Styles {

    display: flex;
    justify-content: center;
    position: relative;
    
    background-color: black;
    width: auto;
    min-width: 300px;
    max-width: 300px;
    height: auto;
    min-height: 25vh;
    border-radius: 30px;
    padding: auto;
    border: 2px solid rgb(231, 138, 231);
    background-color:rgb(192, 102, 192) ;

}

.imgDiv1 {

    width: auto;
    max-width: 10%;
    min-width: 10%;
    height: auto;
    max-height: 20%;
    min-height: auto;
    position: absolute;
    bottom: 85%;

}

.tituloDiv1 {

    color: white;
    font-weight: 900;
    padding: auto;
    font-size: 130%;
    margin-top: 9%;

}

.pDiv1 {
    color: white;
    width: auto;
    max-width: auto;
    min-width: 20%;
    font-size: auto;
    height: auto;

}

.containerTextDiv1 {

    display: flex;
    flex-direction: column;
 align-items: center;

}

.pDiv1 {

    width:85%;
    text-align: left;
    font-size: 80%;
    margin-top: 1%;
    margin-left: 13%;
}

.containerDiv1 {

    display: flex;
    justify-content: center;
    margin-top: 5em;

}

